:root {
    --main: rgb(30, 30, 30);
    --secondary:  rgb(30, 30, 30);
    --tertiary:  rgb(30, 30, 30);
    --main-background: rgb(255, 255, 255);
    --secondary-background: rgb(255, 255, 255);
    --tertiary-background: rgb(255, 255, 255);
    --highlight: #ff9100;
    --selectlight: #006EFF;
    --valid: rgb(0, 200, 0);
    --midrange: rgb(255, 130, 0);
    --invalid: rgb(255, 0, 0);
    --required: rgb(255, 0, 0);
    --border-width: 3px;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    background: var(--main-background);
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--selectlight);
}

* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Code Pro', monospace;
    border: none;
    outline: none;
    color: var(--main);
    box-sizing: border-box;
    font-size: 1em;
    appearance: none;
}

body {
    background: var(--main-background);
}



h1, h2, h3, h4, h5, h6 {
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

.title {
    border-bottom: var(--border-width) solid var(--secondary-background);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

a, p, article, input, span {
    line-height: 1.75em;
}

article, p {
    width: 75%;
    margin: auto;
}

a {}

a:link {}

a:visited {}

a:hover, a:focus {
    color: var(--highlight);
    transition: color 250ms;
}

a:active {
    color: var(--secondary);
}

a[page-link]:not([display]) {
    display: block;
    padding: 1.25em;
    color: var(--main);
    transition: color 250ms;
    border-bottom: var(--border-width) solid transparent;
}

a[page-link]:link {}

a[page-link]:visited {}

a[page-link][select] {
    border-bottom: var(--border-width) solid var(--highlight);
}

a[page-link]:hover:not([display]), a[page-link]:focus:not([display]) {
    color: var(--highlight);
    border-bottom: var(--border-width) solid var(--highlight);
}

a[page-link]:active:not([display]) {
    background: var(--tertiary-background);
}

::placeholder {
    color: var(--tertiary-background);
    opacity: 1;
}

input, select, textarea, button {
    display: block;
    color: var(--main);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: 250ms;
    resize: none;
    background: var(--secondary-background);
    width: 100%;
}

input, textarea {
    border-bottom: var(--border-width) solid var(--tertiary);
}

select * {
    background: var(--secondary-background);
}

optgroup {
    color: var(--main);
    border-bottom: var(--border-width) solid rgb(50, 50, 50);
}

option {
    color: var(--secondary);
}

input[type="range"] {
    -webkit-appearance: none;
    padding: 0px;
    height: 2em;
    background: lightgray;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 2em;
    width: 1em;
    margin: 0px;
    padding: 0px;
    background: var(--highlight);
}

input[type="range"]::-moz-range-thumb {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0px;
    padding: 0px;
    background: var(--highlight);
}

input[type="search"] {
    background: white;
}

input[type="color"] {
    padding: 0.5em;
    min-height: 3em;
    min-width: 2em;
}

input[type="checkbox"], input[type="radio"] {
    border: var(--border-width) solid var(--secondary-background);
    background-color: var(--main-background);
    height: 1em;
    width: 1em;
}

select:focus:not(:disabled), select:hover:not(:disabled) {
    background: white;
}

input:focus:not(:disabled), input:hover:not(:disabled), button:hover:not(:disabled) {
    background: white;
    border-bottom: var(--border-width) solid var(--selectlight);
}

textarea:focus:not(:disabled), textarea:hover:not(:disabled) {
    background: white;
    border-bottom: var(--border-width) solid var(--selectlight);
}

/* textarea:focus:not(:disabled), select:focus:not(:disabled) {
    outline: var(--border-width) solid var(--selectlight);
} */

input:focus:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]):not([type="button"]):not([type="submit"]):not([type="reset"]), input:hover:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not(:disabled) {
    outline: none;
    border-bottom: var(--border-width) solid var(--selectlight);
    background: white;
}

input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="checkbox"]:hover, input[type="radio"]:hover {
    border: var(--border-width) solid var(--highlight);
    background: None;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background-color: var(--selectlight);
}

progress, meter {
    display: block;
}

meter::-webkit-meter-bar {
    background: lightgray;
}

meter::-webkit-meter-optimum-value {
    background: var(--valid);
}

meter::-webkit-meter-suboptimum-value {
    background: var(--midrange);
}

meter::-webkit-meter-even-less-good-value {
    background: var(--invalid);
}

/* Firefox */

meter::-moz-meter-bar {
    border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: lightgray;
}

progress::-webkit-progress-bar {
    background: lightgray;
}

progress::-webkit-progress-value {
    background: var(--highlight);
}

progress::-moz-progress-bar {
    background: var(--highlight);
}

input:disabled, input:read-only, select:disabled, textarea:disabled, progress:disabled, meter:disabled {
    border-bottom: none;
    background: var(--tertiary-background);
    color: var(--secondary);
    cursor: not-allowed;
}

input:required+label::after {
    content: '*';
    color: var(--required);
}

input:in-range {}

input:out-of-range {}

input:read-only {}

input:invalid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]) {
    border-bottom: var(--border-width) solid var(--invalid);
}

input:valid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]), textarea:not(:placeholder-shown):not(:disabled) {
    border-bottom: var(--border-width) solid var(--valid);
}

input:invalid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"])+label::after {}

input:valid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"])+label::after {}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 1em;
}

.column>.column-2 {
    width: 50%;
}

.column>.column-3 {
    width: 33.333333%;
}

.column>.column-4 {
    width: 25%;
}

.column>.column-5 {
    width: 20%;
}

.column>.column-6 {
    width: 16.666666%;
}

.column>.column-7 {
    width: 14.28571428571429%;
}

.column>.column-8 {
    width: 12.5%;
}

.column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8 {
    padding: 1em;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-column {
    display: flex;
    flex-direction: column
}

nav, .menuButton {
    display: flex;
    flex-direction: row;
    background: var(--secondary-background);
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* top: 0; */
    justify-content: center;
    align-content: space-around;
    width: 100%;
    z-index: 10;
}

nav div>* {
    display: flex;
    flex-direction: column;
}

nav div {
    display: flex;
    flex-direction: row;
}

nav form {
    width: 25em;
    display: flex;
    flex-direction: row;
}

.menuButton {
    display: none !important;
    font-size: 1em;
}

.menuButton[show] {
    color: var(--main) !important;
}

.actionButton {
    color: var(--main-background) !important;
    background-color: var(--highlight);
}

.actionButton:link {}

.actionButton:visited {}

.actionButton:hover, .actionButton:focus {
    color: var(--main) !important;
}

.actionButton:active {
    border: var(--secondary);
}

.actionButton:active {
    border-color: var(--secondary-color);
}

.content {
    background: var(--main-background);
    text-align: center;
}

.content>h1, .content>h2, .content>h3 {
    padding: 0.5em;
}

.carousel {
    display: flex;
    flex-direction: row;
    height: 30em;
}

.carousel>.item {
    height: max-content;
    width: 100%;
    height: 100%;
}

.carousel>.button {
    width: 2em;
}

.carousel>.button:hover {
    background-color: var(--secondary-background);
}

.highlight {
    color: var(--highlight);
}

.box {
    background-color: var(--secondary-background);
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em 0;
}

.invert {
    filter: invert(100%);
}

.landing {
    padding: 12.5em 0em;
}

.main {
    color: var(--main);
}

.secondary {
    color: var(--secondary);
}

.tertiary {
    color: var(--tertiary);
}

.main-background {
    background-color: var(--main-background);
}

.secondary-background {
    background-color: var(--secondary-background);
}

.tertiary-background {
    background-color: var(--tertiary-background);
}

.media-buttons>a {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 1.5em 0em;
}

.facebook {
    color: white !important;
    background: #4267B2;
    background: -moz-linear-gradient(45deg, #4267B2 0%, #375590 50%, #4267B2 100%);
    background: -webkit-linear-gradient(45deg, #4267B2 0%, #375590 50%, #4267B2 100%);
    background: linear-gradient(45deg, #4267B2 0%, #375590 50%, #4267B2 100%);
}

.facebook:hover {
    background: -moz-linear-gradient(45deg, #375590 0%, #4267B2 50%, #375590 100%);
    background: -webkit-linear-gradient(45deg, #375590 0%, #4267B2 50%, #375590 100%);
    background: linear-gradient(45deg, #375590 0%, #4267B2 50%, #375590 100%);
}

.instagram {
    color: white !important;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.instagram:hover {
    background: #000000;
    background: -moz-linear-gradient(45deg, #bc1888 0%, #cc2366 25%, #dc2743 50%, #e6683c 75%, #f09433 100%);
    background: -webkit-linear-gradient(45deg, #bc1888 0%, #cc2366 25%, #dc2743 50%, #e6683c 75%, #f09433 100%);
    background: linear-gradient(45deg, #bc1888 0%, #cc2366 25%, #dc2743 50%, #e6683c 75%, #f09433 100%);
}

.youtube {
    color: white !important;
    background: #ff0000;
    background: -moz-linear-gradient(45deg, #ff0000 0%, #bd0000 50%, #ff0000 100%);
    background: -webkit-linear-gradient(45deg, #ff0000 0%, #bd0000 50%, #ff0000 100%);
    background: linear-gradient(45deg, #ff0000 0%, #bd0000 50%, #ff0000 100%);
}

.youtube:hover {
    background: -moz-linear-gradient(45deg, #bd0000 0%, #ff0000 50%, #bd0000 100%);
    background: -webkit-linear-gradient(45deg, #bd0000 0%, #ff0000 50%, #bd0000 100%);
    background: linear-gradient(45deg, #bd0000 0%, #ff0000 50%, #bd0000 100%);
}

.linkedin {
    color: white !important;
    background: #ff0000;
    background: -moz-linear-gradient(45deg, #2867B2 0%, #1f5699 50%, #2867B2 100%);
    background: -webkit-linear-gradient(45deg, #2867B2 0%, #1f5699 50%, #2867B2 100%);
    background: linear-gradient(45deg, #2867B2 0%, #1f5699 50%, #2867B2 100%);
}

.linkedin:hover {
    background: -moz-linear-gradient(45deg, #1f5699 0%, #2867B2 50%, #1f5699 100%);
    background: -webkit-linear-gradient(45deg, #1f5699 0%, #2867B2 50%, #1f5699 100%);
    background: linear-gradient(45deg, #1f5699 0%, #2867B2 50%, #1f5699 100%);
}

/* 4k desktop */

@media only screen and (min-width: 1442px) {}

/* desktop */

@media only screen and (max-width: 1441px) {}

/* laptop */

@media only screen and (max-width: 1025px) {
    form {
        width: 100% !important;
    }
    a[page-link]:not([display]) {
        padding: 0.5em;
    }
    article, p {
        width: 100%;
    }
}

/* tablet */

@media only screen and (max-width: 769px) {
    * {
        font-size: small;
    }
    .column {
        flex-direction: column;
    }
    .column>.column-2, .column>.column-3, .column>.column-4, .column>.column-5, .column>.column-6, .column>.column-7, .column>.column-8 {
        width: 100%;
    }
    nav {
        flex-direction: row;
    }
    nav div {
        flex-direction: row;
    }
    .menuButton {
        height: 3em;
        width: 3em;
        margin-left: 1em;
        display: block !important;
    }
    .menuButton[show] {
        background-color: var(--highlight);
        color: white;
    }
}

/* phone */

@media only screen and (max-width: 426px) {}