:root {
    --main: white;
    --secondary: rgb(200, 200, 200);
    --tertiary: rgb(75, 75, 75);
    --main-background: rgb(11, 11, 11);
    --second-background: rgb(77, 77, 77);
    --tertiary-background: rgb(143, 143, 143);
    --highlight: rgb(0, 183, 255);
    --selectlight: rgb(0, 183, 255);
    --valid: rgb(0, 200, 0);
    --midrange: rgb(255, 130, 0);
    --invalid: rgb(255, 0, 0);
    --required: rgb(255, 0, 0);
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    background: var(--second-background);
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--selectlight);
}

* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Code Pro', monospace;
    border: none;
    outline: none;
    color: var(--main);
    box-sizing: border-box;
    font-size: 1em;
}

body {
    background: var(--main-background);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.25em;
    margin: 0.25em;
    border-bottom: 4px solid var(--second-background);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

a, p, article, input {
    font-size: 1em;
}

article, p {
    max-width: 50em;
    margin: auto;
}

.actionButton {
    padding: 1em;
    margin: 1em;
    border: 4px solid var(--main);
    border-radius: 10em;
}

.actionButton:link {}

.actionButton:visited {}

.actionButton:hover, .actionButton:focus {
    border: var(--highlight);
}

.actionButton:active {
    border: var(--secondary);
}

a {}

a:link {}

a:visited {}

a:hover, a:focus {
    color: var(--highlight);
}

a:active {
    color: var(--secondary);
}

a[page-link]:not([display]) {
    display: block;
    padding: 0.5em 1em;
    color: var(--main);
    background: var(--second-background);
}

a[page-link]:link {}

a[page-link]:visited {}

a[page-link][select] {
    border-bottom: 4px solid var(--highlight);
}

a[page-link]:hover:not([display]), a[page-link]:focus:not([display]) {
    background: var(--highlight);
}

a[page-link]:active:not([display]) {
    background: var(--tertiary-background);
}

::placeholder {
    color: var(--tertiary-background);
    opacity: 1;
}

input, select, textarea {
    display: block;
    color: var(--tertiary);
    padding: 0.5em 0.5em;
    transition: border-bottom 250ms, background-color 250ms;
    opacity: 0.75;
    resize: none;
    background: var(--secondary);
}

input {
    border-bottom: 4px solid var(--tertiary);
}

select * {
    background: var(--secondary);
}

optgroup {
    color: var(--tertiary);
    border-bottom: 4px solid rgb(50, 50, 50);
}

option {
    color: var(--tertiary);
}

select:focus:not(:disabled), select:hover:not(:disabled) {
    background: white;
}

input:focus, input:hover:not(:disabled) {
    background: white;
    border-bottom: 4px solid var(--tertiary);
}

textarea:focus:not(:disabled), textarea:hover:not(:disabled) {
    background: white;
    border-bottom: none;
}

input:focus, textarea:focus:not(:disabled), select:focus:not(:disabled) {
    outline: 2px solid var(--selectlight);
}

input:focus:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]):not([type="button"]):not([type="submit"]):not([type="reset"]), input:hover:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not(:disabled) {
    outline: none;
    border-bottom: 4px solid var(--selectlight);
    background: white;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    border-bottom: 4px solid var(--tertiary);
}

input[type="range"] {
    -webkit-appearance: none;
    padding: 0px;
    height: 2em;
    background: lightgray;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 2em;
    width: 1em;
    margin: 0px;
    padding: 0px;
    background: var(--highlight);
}

input[type="range"]::-moz-range-thumb {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0px;
    padding: 0px;
    background: var(--highlight);
}

input[type="search"] {
    background: white;
}

input[type="color"] {
    padding: 0.5em;
    min-height: 3em;
    min-width: 2em;
}

progress, meter {
    display: block;
}

meter::-webkit-meter-bar {
    background: lightgray;
}

meter::-webkit-meter-optimum-value {
    background: var(--valid);
}

meter::-webkit-meter-suboptimum-value {
    background: var(--midrange);
}

meter::-webkit-meter-even-less-good-value {
    background: var(--invalid);
}

/* Firefox */

meter::-moz-meter-bar {
    border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: lightgray;
}

progress::-webkit-progress-bar {
    background: lightgray;
}

progress::-webkit-progress-value {
    background: var(--highlight);
}

progress::-moz-progress-bar {
    background: var(--highlight);
}

input:disabled, input:read-only, select:disabled, textarea:disabled, progress:disabled, meter:disabled {
    border-bottom: none;
    background: var(--tertiary-background);
    color: var(--secondary);
    cursor: not-allowed;
}

input:required+label::after {
    content: '*';
    color: var(--required);
}

input:in-range {}

input:out-of-range {}

input:read-only {}

input:invalid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]) {
    border-bottom: 4px solid var(--invalid);
}

input:valid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"]) {
    border-bottom: 4px solid var(--valid);
}

input:invalid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"])+label::after {}

input:valid:not([novalidate]):not(:focus):not([type="button"]):not([type="search"]):not([type="submit"]):not([type="reset"]):not(:placeholder-shown):not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="color"])+label::after {}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.column>.column-2 {
    width: 50%;
}

.column>.column-3 {
    width: 33.333333%;
}

.column>.column-4 {
    width: 25%;
}

.column>.column-5 {
    width: 20%;
}

.column>.column-6 {
    width: 16.666666%;
}

.column>.column-7 {
    width: 14.28571428571429%;
}

.column>.column-8 {
    width: 12.5%;
}

.column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8 {
    padding: 1em;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-column {
    display: flex;
    flex-direction: column
}

nav {
    display: flex;
    flex-direction: row;
    background: var(--second-background);
    box-shadow: 0em 0.25em 0.25em var(--main-background);
    position: -webkit-sticky;
    position: sticky;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 10;
    font-size: large;
}

nav>* {
    display: flex;
    flex-direction: column;
}

nav form {
    width: 25em;
    display: flex;
    flex-direction: row;
}

.content {
    margin: 1em;
    padding: 1em;
    background: var(--main-background);
    text-align: center;
}

.content>h1, .content>h2, .content>h3 {
    padding: 1em;
}

/* 4k desktop */

@media only screen and (min-width: 1442px) {}

/* desktop */

@media only screen and (max-width: 1441px) {}

/* laptop */

@media only screen and (max-width: 1025px) {}

/* tablet */

@media only screen and (max-width: 769px) {
    .column {
        flex-direction: column;
    }
    .column>.column-2, .column>.column-3, .column>.column-4, .column>.column-5, .column>.column-6, .column>.column-7, .column>.column-8 {
        width: 100%;
    }
}

/* phone */

@media only screen and (max-width: 426px) {
    .sticky-to-top {
        position: relative;
        width: 100%;
        z-index: 10;
    }
}