.underConstruction {
    width: 100%;
    top: calc(50% - 5em);
    text-align: center;
    position: fixed;
    background: var(--secondary-background);
}


.strips {
    background: repeating-linear-gradient( -55deg, rgb(255, 174, 0), rgb(255, 174, 0) 30px, #333 30px, #333 60px);
    width: 200vw;
    height: 0.75em;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: MOVE-BG;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    border-bottom: 4px solid var(--second-background);
}

@-webkit-keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(-74px);
    }
    to {
        -webkit-transform: translateX(0px);
    }
}

@keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(-74px);
    }
    to {
        -webkit-transform: translateX(0px);
    }
}

/* 4k desktop */

@media only screen and (min-width: 1442px) {}

/* desktop */

@media only screen and (max-width: 1441px) {}

/* laptop */

@media only screen and (max-width: 1025px) {}

/* tablet */

@media only screen and (max-width: 769px) {
    .strips {
        background: repeating-linear-gradient( -55deg, rgb(255, 174, 0), rgb(255, 174, 0) 20px, #333 20px, #333 40px);
    }
    @-webkit-keyframes MOVE-BG {
        from {
            -webkit-transform: translateX(-49px);
        }
        to {
            -webkit-transform: translateX(0px);
        }
    }
    @keyframes MOVE-BG {
        from {
            -webkit-transform: translateX(-49px);
        }
        to {
            -webkit-transform: translateX(0px);
        }
    }
}

/* phone */

@media only screen and (max-width: 460px) {
    .strips {
        background: repeating-linear-gradient( -55deg, rgb(255, 174, 0), rgb(255, 174, 0) 10px, #333 10px, #333 20px);
    }
}